@using VKBusReservation.Models

@{
    Layout = "~/Views/Shared/_Layout.cshtml";
    var name = User.Identity.GetClaimValue("name");
}


<center><h3>Welcome To Bus Reservation !!!!!</h3></center><br />
<center><h3></</h3></center>




