@using VKBusReservation.Models

@{
    Layout = "~/Views/Shared/_Layout.cshtml";
    string name = User.Identity.GetClaimName();
}


<center><h3>Welcome To Bus Reservation !!!!!</h3></center>
<br />





